{% extends "layouts/base.html" %}

{% block title %}Submit an Attack{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6" style="border-right:1px solid lightgray">
        <h3>Create an attack</h3>
        <form>
            <div class="form-group">
                <label for="args">Arguments</label>
                <input type="text" class="form-control text-monospace" name="stdin" id="args"
                    placeholder="--spontaneously-combust-on-failure --require util/fire-extinguisher">
            </div>

            <div class="form-group">
                <label for="stdin">Standard Input</label>
                <input type="file" class="form-control-file" id="stdin" name="stdin">
                <small class="form-text text-muted">
                    The contents of this file (text or data) will be piped to the executable.
                </small>
            </div>

            <div class="form-group">
                <label for="env">Environment Variables</label>
                <textarea class="form-control text-monospace" name="env" id="env" rows="3"
                    placeholder="FOO=1&#10;BAR_LOCATION=/home/chandler/lib/bar&#10;DEBUG=false"></textarea>
                <small class="form-text text-muted">
                    Environment variables are described in <code>.env</code> format, using <code>NAME=VALUE</code> key
                    pairs.
                </small>
            </div>

            <div class="form-group">
                <label for="files">Files</label>
                <input type="file" class="form-control-file" id="files" multiple>
                <small class="form-text text-muted">
                    These will be added to the same directory the executable is run from.
                </small>
            </div>
            <button type="submit" class="btn btn-primary" disabled>Create Attack</button> &ndash; not yet functional
        </form>
    </div>
    <div class="col-md-6" style="border-left:1px solid lightgray">
        <h3>Or just submit a tarball</h3>
        <p>
            Documentation on creating valid attack tarballs is available on the
            <a href="https://github.com/UMDLARS/dtanm/wiki/Attacks">DTANM GitHub Wiki</a>.
        </p>
        <form method="POST" action="{{ url_for('attacks.store') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="attackTarball">Tarball:</label>
                <input type="file" name="attack" class="form-control-file" id="attackTarball">
            </div>
            <button type="submit" class="btn btn-primary">Submit Attack</button>
        </form>
    </div>
</div>

{% endblock %}
