{% extends "layouts/base.html" %}

{% block title %}Attacks{% endblock %}

{% block content %}
<button class="btn btn-primary mb-2" onclick="reloadTable()">Reload results</button>
<div class="form-check mb-2 me-sm-2">
  <input class="form-check-input" type="checkbox" id="autorefresh-checkbox" onclick="autoRefreshClick(this);">
  <label class="form-check-label" for="autorefresh-checkbox">
    Automatically refresh results
  </label>
</div>
<a class="btn btn-light mb-2" href="{{ url_for('attacks.create') }}">Submit an attack</a>
<div id="content">
  {% include "attacks/attacks_table.html" %}
</div>
{% endblock %}

{% block scripts %}
<script>
async function reloadTable() {
  let response = await fetch("{{ url_for('attacks.table') }}");
  document.getElementById('content').innerHTML = await response.text();
}

$(function() {
  setInterval(async function() {
    if (document.getElementById('autorefresh-checkbox').checked) {
      reloadTable();
    }
  }, 10000);
});

document.addEventListener('DOMContentLoaded', (event) => {
  if (localStorage["autorefresh"] === 'true') {
    document.getElementById('autorefresh-checkbox').checked = true
  }
});

function autoRefreshClick(cb) {
  localStorage["autorefresh"] = cb.checked
}
</script>
{% endblock %}
