{% extends "layouts/base.html" %}

{% block title %}Attack: {{ attack.name }}{% endblock %}

{% block content %}
<a href="{{ url_for('attacks.download', attack_id=attack.id) }}" class="btn btn-primary">Download Attack as tarball</a>
<hr>

{% if attack.cmd_args %}
<h4>Args:</h4>
<code>{{ attack.cmd_args }}</code>
{% else %}
<p>No arguments were provided.</p>
{% endif %}

{% if attack.stdin %}
<h4>Standard input:</h4>
<pre><code>{{ attack.stdin }}</code></pre>
{% else %}
<p>No standard input was provided.</p>
{% endif %}

{% if attack.env_filenames %}
<h4>Included files:</h4>
<ul>
    {% for filename in attack.env_filenames %}
    <li>{{ filename }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No files were provided.</p>
{% endif %}

<h4>Teams passing:</h4>
<ul>
{% for result in attack.passing %}
<li><a href="{{ url_for('teams.show', team_id=result.team.id) }}">{{ result.team.name }}</a></li>
{% else %}
<span style="color:gray;">No teams are currently passing.</span>
{% endfor %}
</ul>


<h4>Teams failing:</h4>
<ul>
{% for result in attack.failing %}
<li><a href="{{ url_for('teams.show', team_id=result.team.id) }}">{{ result.team.name }}</a></li>
{% else %}
<span style="color:gray;">No teams are currently failing.</span>
{% endfor %}
</ul>


{% endblock %}
