{% extends "layouts/base.html" %}

{% block title %}Attack: {{ attack.name }}{% endblock %}

{% block content %}
<p>Created by {{ attack.team.name }} at {{ attack.created_at | formatdatetime }}</p>
<a href="{{ url_for('attacks.download', attack_id=attack.id) }}" class="btn btn-primary">Download Attack as tarball</a>
<hr>

{% if attack.cmd_args %}
<h4>Args:</h4>
<code>{{ attack.cmd_args }}</code>
{% else %}
<p>No arguments were provided.</p>
{% endif %}

{% if attack.stdin %}
<h4>Standard input:</h4>
<pre><code>{{ attack.stdin }}</code></pre>
{% else %}
<p>No standard input was provided.</p>
{% endif %}

{% if attack.files %}
<h4>Included files:</h4>
<ul>
    {% for filename in attack.files %}
    <li>{{ filename }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No files were provided.</p>
{% endif %}

{% if attack.envs | length %}
<h4>Environment Variables:</h4>
<ul>
    {% for name, value in attack.envs.items() %}
    <li><code>{{ name }}</code>=<code>{{ value }}</code></li>
    {% endfor %}
</ul>
{% else %}
<p>No environment variables were provided.</p>
{% endif %}

<h4>Teams passing:</h4>
<ul>
{% for result in attack.passing %}
<li><a href="{{ url_for('teams.show', team_id=result.team.id) }}#row{{ result.id }}">{{ result.team.name }}</a></li>
{% else %}
<span style="color:gray;">No teams are currently passing.</span>
{% endfor %}
</ul>

<h4>Expected output:</h4>
{% if attack.gold_result.stdout != "" %}
<p>Stdout: <pre style="background-color: #bbb; padding: 5px;">{{ attack.gold_result.stdout }}</pre></p>
{% else %}
<p>No Stdout</p>
{% endif %}

{% if attack.gold_result.stderr != "" %}
<p>Stderr: <pre style="background-color: #bbb; padding: 5px;">{{ attack.gold_result.stderr }}</pre></p>
{% else %}
<p>No Stderr</p>
{% endif %}

<p>Return code: {{ attack.gold_result.return_code }}</p>

<h4>Teams failing:</h4>
<ul>
{% for result in attack.failing %}
<li><a href="{{ url_for('teams.show', team_id=result.team.id) }}#row{{ result.id }}">{{ result.team.name }}</a></li>
{% else %}
<span style="color:gray;">No teams are currently failing.</span>
{% endfor %}
</ul>


{% endblock %}
