[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
flask = "*"
requests = "*"
orderedset = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-flask = "*"
pytest-xdist = "*"

[requires]
python_version = "3.6"
