[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
flask = "*"
requests = "*"
redis = "*"
pymongo = "*"
mongoengine = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-flask = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-localserver = "*"

[requires]
python_version = "3.6"
