{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<p>Welcome to DTANM!</p>
<p>As a contestant, you are responsible for fixing your program, and developing
tests that your program passes, but that other teams' programs may not.</p>

<ol>
    <li>Read up on your challenge in the <a href="{{url_for('instructions.show')}}">challenge docs</a></li>
    <li>Download the challenge on the <a href="#">download client page</a></li>
    <li>Fix the bugs in your program according to the docs from step 1</li>
    <li>Submit test cases using the <a href="#">test case submission form</a></li> 
    <li>View your team's score on the <a href="#">scoreboard!</a></li> 
</ol>

<p>Good luck!</p>

{% endblock %}