{% extends "layouts/base.html" %}

{% block title %}Test against Gold{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6" style="border-right:1px solid lightgray">
        <form>
            <h3>Write your own test</h3>
            <div class="form-group">
                <label for="args">Arguments</label>
                <input type="text" class="form-control text-monospace" name="stdin" id="args"
                    placeholder="--spontaneously-combust-on-failure --require util/fire-extinguisher">
            </div>

            <div class="form-group">
                <label for="stdin">Standard Input</label>
                <input type="file" class="form-control-file" id="stdin" name="stdin">
                <small class="form-text text-muted">
                    The contents of this file (text or data) will be piped to the executable.
                </small>
            </div>

            <div class="form-group">
                <label for="env">Environment Variables</label>
                <textarea class="form-control text-monospace" name="env" id="env"
                    rows="3">FOO=1&#13;&#10;BAR_LOCATION=/home/chandler/lib/bar&#13;&#10;DEBUG=false</textarea>
                <small class="form-text text-muted">
                    Environment variables are described in <code>.env</code> format, using <code>NAME=VALUE</code> key
                    pairs.
                </small>
            </div>

            <div class="form-group">
                <label for="files">Files</label>
                <input type="file" class="form-control-file" id="files" multiple>
                <small class="form-text text-muted">
                    These will be added to the same directory the executable is run from.
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Run Test</button>
        </form>

    </div>
    <div class="col-md-6" style="border-left:1px solid lightgray; margin-left:-1px;">
        <h3>Choose an existing attack</h3>
        <form>
            <h5>Currently Failing Attacks</h5>
            <div class="accordion" id="accordionExample">
                {% for n in range(10) %}
                <div class="card">
                    <div class="card-header" style="padding:0px;cursor:pointer" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ n }}">
                        <button class="btn btn-link" type="button">
                            Eagles #{{ n+1 }}
                        </button>
                    </div>

                    <div id="collapse{{ n }}" class="collapse {{ "show" if loop.first else "" }}"
                        data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    Correct output:<br /><code>2**3=8</code>
                                </div>
                                <div class="col-sm">
                                    Your output:<br /><code>2**3=6</code>
                                </div>
                            </div>
                            <a class="btn btn-primary float-right mb-4" href="#">Run Attack
                                &raquo;</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <span style="color:slategray;">Currently, no attacks are failing.</span>
                {% endfor %}
            </div>
        </form>
        <hr>
        <form>
            <h5>Currently Passing Attacks</h5>
            <div class="input-group">
                <select class="custom-select">
                    <option value="1">Sloths #1</option>
                    <option value="2">Eagles #1</option>
                    <option value="3">Eagles #2</option>
                    <option value="4">Eagles #3</option>
                    <option value="5">Sloths #2</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Run Attack</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}