{% extends "layouts/base.html" %}

{% block title %}Challenge Instructions{% endblock %}

{% block content %}
<p>Dingwall is at it again! This time he told the Eagles that &quot;Hotel California&quot; was a terrible album. As a result, Teshwan assigned his elite squadron of Eagle Hackers to find flaws in Dingwall's accounting software! Now the sloths are losing tons of green (cecropia leaves, their primary food source). Dingwall won't apologize for his opinions about popular music -- he has no choice but to fix the calculator. To do so, Dingwall divided his developers into teams and has assigned them to attack and repair the calculator software in a capture the flag style exercise.</p>
<p>You are a sloth programmer on one of those teams and have been given a copy of the calculator program, calc.c. Your goal is to find errors or incorrect behavior in the calculator program and fix them, while also attacking the calculators of your peers to see if they have fixed the flaws in their own programs.</p>
<p>The winning team is the team with the least number of flaws in their version of calc.c when time runs out.</p>
<h1 id="table-of-contents">Table of Contents</h1>
<ul>
<li><a href="#the-game">The Game</a>
<ul>
<li><a href="#fixing-your-code-and-how-to-submit">Fixing Your Code and How to Submit</a></li>
<li><a href="#collecting-flaws">Collecting Flaws</a></li>
<li><a href="#scoring">Scoring</a></li>
</ul></li>
<li><a href="#calculator-behavior">Calculator Behavior</a>
<ul>
<li><a href="#compiling">Compiling</a></li>
<li><a href="#input">Input</a></li>
<li><a href="#output">Output</a></li>
<li><a href="#handling-errors">Handling Errors</a></li>
<li><a href="#the-gold-standard">The Gold Standard</a></li>
</ul></li>
<li><a href="#rules-and-clarifications">Rules and Clarifications</a></li>
<li><a href="#tips-and-tricks">Tips and Tricks</a></li>
</ul>
<h1 id="the-game">THE GAME</h1>
<p>You are competing against the other sloth teams to improve your version of calc.c while also attacking theirs. You will find flaws in calc.c and fix them, either improving the code or calling the function error(). At the same time, you will collect &quot;attack strings&quot; -- one attack per file. Those attacks will be automatically executed against the other teams' versions of calc.c. Every flaw in a teams' code will count against their score -- your goal is to be immune to as many flaws as possible.</p>
<h2 id="fixing-your-code-and-how-to-submit">Fixing Your Code and How to Submit</h2>
<p>Your team will have its own copy of the calc.c source that you can test with input strings. Then, you can fix the flaws you discover in calc.c to make your version more robust. When you have a version of calc.c that you think is improved, you should execute the command <code>submit</code>.</p>
<p>The program <code>submit</code> will compile your code. Then it will copy your source to the private directory /var/cctf/teamN/src/ and a binary will be copied to the public directory /var/cctf/teamN/bin/. The public binary can be tested by other teams to reveal the flaws in your code.</p>
<h2 id="collecting-flaws">Collecting Flaws</h2>
<p>Each known flaw that your team discovers should be collected in the directory /var/cctf/teamN/attacks/. You should use your favorite editor to write attack files -- one attack per file. So, for example, if &quot;10 + 2&quot; causes bad behavior, you can write &quot;10 + 2&quot; into a file and call it whatever you want (e.g., 10plus2). The scoring code will consume your attacks to test everyones' code.</p>
<h2 id="scoring">Scoring</h2>
<p>Every second, an attack bot will pick the oldest attack from your attack directory and add it to the master list of attacks, stored in the public file /var/cctf/attacklist.txt. It will then remove the attack from your directory. Periodically (say every 30s), a score bot will test ALL public binaries against all the attacks in attacklist.txt. When it tests your binary, it will update a file /var/cctf/dirs/teamN/score.txt showing the attacks you passed and failed (which you can use to determine what needs fixing), and then it will update a file /var/cctf/scoreboard.txt showing how all teams are performing.</p>
<p>The scoreboard will show the number of tests you pass versus the number of attacks in attacklist.txt (i.e., PASS/NUM_ATTACKS). The &quot;winning&quot; team is the team with the score closest to 1 when the competition ends.</p>
<h1 id="calculator-behavior">CALCULATOR BEHAVIOR</h1>
<p>'calc' is a very simple calculator program without a lot of features. Unfortunately, what it does have is a lot of bugs. Most of these bugs are not security issues, but recall that a program should do what it specifies <em>and nothing more</em>. For you to know whether behavior is an error, you need to know what the calculator is designed to do.</p>
<h2 id="compiling">Compiling</h2>
<p>Compile calc using:</p>
<p><code>make</code></p>
<h2 id="input">Input</h2>
<p>To use the calculator, call calc like so:</p>
<p><code>./calc OPERATIONS</code></p>
<p>... where <code>OPERATIONS</code> is a double quoted list of binary mathematical operations with whitespace separating each token (character) (e.g., A + B). The operations can be addition, subtraction, multiplication and division. The numerical arguments for A and B should be signed short integers, in other words ranging from -32,768 to 32,767.</p>
<p>For example, a valid value for OPERATIONS is:<br />
<code>&quot;10 + 2&quot;</code></p>
<p>Multiple operations can be separated by a comma:<br />
<code>&quot;10 + 2,9 / 3&quot;</code></p>
<p>Extra space characters should be ignored. For example:<br />
<code>&quot; 10 + 2 , 9 / 3 &quot;</code></p>
<p>Tabs do not count as whitespace characters.</p>
<h2 id="output">Output</h2>
<p>The output of the program is the numeric value of the computations, one per line. For example, with the input &quot;10 + 2,9 / 3&quot;, the output would be:</p>
<p>12<br />
3</p>
<p>The output of division operations include the remainder as a simplified fraction. For example, given the input:</p>
<p>&quot;10 / 7&quot;</p>
<p>... the output would be:</p>
<p>1 3/7</p>
<h2 id="handling-errors">Handling Errors</h2>
<p>Secure design principles tell us that a program should do what it is designed to do <em>and nothing more</em>.</p>
<p>There are basically two types of mistakes in the calc code -- erroneous calculations and undefined behavior. Erroneous calculations are the program not doing what it is designed to do. Undefined behavior includes accepting invalid input.</p>
<p>If an error results in an erroneous calculation, calc.c should be modified to perform the computation correctly. For example, if &quot;-1 + 10&quot; returned &quot;11&quot; instead of &quot;9&quot;, then the calculator would need to be modified to handle negative numbers.</p>
<p>If calc.c accepts input it should not, or input causes calc to crash, or any other type of behavior that it shouldn't perform, calc should simply print &quot;Error&quot; and quit. For example, if calc is given no input at all, it should print Error and quit because ignoring a required argument should not be allowed. Similarly, accepting extra arguments that do not conform to the standard described above should also cause an Error to be thrown.</p>
<p>Conveniently, the calc.c code has a function, error() that does just this. Thus, if you encounter an error case such as this, simply call error().</p>
<h2 id="the-gold-standard">The Gold Standard</h2>
<p>In order to help the sloths, the Vizards of Vim Mountain (led by the powerful Brammoolenaar), provided the sloths with a &quot;perfect&quot; Golden Calculator, called 'gold'. The sloths can use 'gold' to test their calculator's behavior, but due to DRM and other licensing issues, the Vizards won't let the sloths use 'gold' in production. Still, you can run gold with arguments to test the &quot;proper&quot; behavior of the calculator.</p>
<p>Of course, it's likely that you might find flaws in gold that the Vizards overlooked. If that happens, simply cry out the Vizards in a loud voice about the problem, and they'll fix it.</p>
<h1 id="rules-and-clarifications">RULES AND CLARIFICATIONS</h1>
<ul>
<li>Your code must not use the &quot;*&quot; operator to do multiplication. It is too fast for sloths.</li>
<li>Your code must not use the &quot;/&quot; operator to do integer division. It is too fast and scary for sloths.</li>
<li>You must not use any math libraries.</li>
<li>TAB characters are not considered whitespace.</li>
<li>Exact duplicates of existing attacks will be ignored.</li>
</ul>
<h1 id="tips-and-tricks">Tips and Tricks</h1>
<p>To login to the server run:<br />
<code>ssh teamN@hack.d.umn.edu</code></p>
<p>Remember to put attacks in <code>~/attacks</code> (one line per file)</p>
<p>Submit your code by running <code>submit</code> in you home directory.</p>
<p>To see the current score run <code>score</code> or <code>score -g</code> for a graph version.</p>
<p>To see all the current attacks run: <code>less /var/cctf/attacklist.txt</code></p>
<p>To see what tests you pass and fail run: <code>less /var/cctf/dirs/teamN/score.txt</code></p>{% endblock %}