{% extends "layouts/base.html" %}

{% block title %}Rankings{% endblock %}

{% block content %}
<table class="table table-hover table-clickable-rows">
    <thead>
      <tr>
        <th scope="col">Team</th>
        <th scope="col">Current Tests Passing</th>
        <th scope="col">Best Tests Passing</th>
        <th scope="col">Last Code Submitted</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="window.location='{{ url_for('ui.show_team_score', team_id=1) }}';">
        <th scope="row">Eagles</th>
        <td>20/28</td>
        <td>22/25</td>
        <td>Four minutes ago</td>
      </tr>
      <tr>
        <th scope="row">Sloths</th>
        <td>20/27
          <div class="spinner-border spinner-border-sm" style="color:#888;" role="status">
            <span class="sr-only">Running Tests...</span>
          </div> <span style="color:#888;">Rescoring...</span></td>
        <td>22/28</td>
        <td>Fifteen seconds ago</td>
      </tr>
    </tbody>
  </table>

  <script>
      setTimeout(function(){
          window.location.reload();
      }, 10000);
  </script>

{% endblock %}