{% extends "layouts/base.html" %}

{% block title %}Submit your Program{% endblock %}

{% block content %}

<p>To get a copy your program, git clone from your team's git endpoint:</p>
<!-- Server admin: if this shows localhost:5000, make sure you're passing
the Host header (not the X-Forwarded-Host, as Werkzeug since v0.15 seems
to not pick this up correctly) through to the application. -->
<p><code>git clone {{ request.url_root }}program &lt;destination&gt;</code></p>

<p>To submit your program, simply run <code>git push</code> from within your
repository, entering your email and password as prompted.</p>

{% if commit is not none %}
<p>Your most recently pushed code is &ldquo;<code>{{ commit.message.decode() }}</code>&rdquo;
at Git commit <code>{{ commit.id.decode()[:7] }}</code>.</p>
{% endif %}
{% endblock %}