{% extends "layouts/base.html" %}

{% block title %}Submit your Program{% endblock %}

{% block content %}

<p>To submit your program, push to your team's git endpoint:
    <code>git remote add origin {{ request.url_root }}program</code>.</p>

{% if commit is not none %}
<p>Current submission: <code></code></p>
{% endif %}

<hr>

<h3>Or just submit a tarball:</h3>
<form method="POST" action="{{ url_for('program.store') }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="programTarball">Tarball:</label>
        <input type="file" name="program" class="form-control-file" id="programTarball">
    </div>
    <button type="submit" class="btn btn-primary">Submit Program</button>
</form>

{% endblock %}