{% extends "layouts/base.html" %}

{% block title %}Submit your Program{% endblock %}

{% block content %}

<p>To get a copy your program, git clone from your team's git endpoint:
<!-- Server admin: if this shows localhost:5000, make sure you're passing
the Host header (not the X-Forwarded-Host, as Werkzeug since v0.15 seems
to not pick this up correctly) through to the application. -->
<code>git clone {{ request.url_root }}program &lt;destination&gt;</code></p>

<p>To submit your program, simply run <code>git push</code> from within your
repository, entering your email and password as prompted.</p>

<p>You may wish to have your username and password cached so you don't have to
type it every time. In the repository, running
<code>git config credential.helper cache</code> will cause the username and
password to be cached, for 900 seconds (15 minutes) by default. To increase the
amount of time, pass a time in seconds another argument (e.g.
<code>git config credential.helper cache 3600</code> will cache your
credentials for one hour). For more information, see
<a href="https://git-scm.com/docs/gitcredentials#_avoiding_repetition">Git's
documentation on storing credentials</a>.</p>

<hr>

{% if commit is not none %}
<p>Your most recently pushed code is &ldquo;<code>{{ commit.message.decode().rstrip() }}</code>&rdquo;
at Git commit <code>{{ commit.id.decode()[:7] }}</code>.</p>
{% endif %}
{% endblock %}
