<!DOCTYPE html>
<html lang="en">

<head>

  <!-- rendered in {{ g.request_time() }}-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Home{% endblock %} | Do This and Nothing More</title>

  <style>
    @import "/static/css/bootstrap.min.css"(prefers-color-scheme: light);
    @import "/static/css/bootswatch.cyborg.min.css"(prefers-color-scheme: dark);
  </style>
  <link href="/static/css/dtanm.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-end" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom">Do This and Nothing More</div>
      <div class="list-group list-group-flush">
        {{ create_menu_item('Get Started', 'index') | safe }}
        {{ create_menu_item('Challenge Instructions', 'instructions.show') | safe }}
        {{ create_menu_item('Your Score', 'teams.me') | safe }}
        {{ create_menu_item('Team Rankings', 'teams.index') | safe }}
        {{ create_menu_item('Submit Program', 'program.index') | safe }}
        {{ create_menu_item('Submit Attack', 'attacks.create') | safe }}
        {{ create_menu_item('Attacks', 'attacks.index') | safe }}
        {# create_menu_item('Test against Gold', 'test_against_gold') | safe #}
        {{ create_menu_item('Competition Stats', 'stats') | safe }}
        {% if current_user.has_role('admin') %}
        {{ create_menu_item('DTANM Admin', 'admin.index') | safe }}
        {% endif %}
      </div>
      <div class="about text-secondary small">
        DTANM {% include ['layouts/version.html', 'layouts/dev_version.html'] %}<br>
        created by <a href="https://lars.d.umn.edu/">UMD LARS</a>
      </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <button class="btn btn-light" id="menu-toggle">&raquo;</button>
          {% if current_user.is_authenticated %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{ current_user.email }} | {{ current_user.team.name or "No team assigned" }}
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  {% if current_user.has_role('admin') %}
                  <a class="dropdown-item" href="{{ url_for('admin.index') }}">DTANM Admin</a>
                  <div class="dropdown-divider"></div>
                  {% endif %}
                  {% if current_user.team %}
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#teamModal">{{
                    current_user.team.name }}</a>
                  <div class="dropdown-divider"></div>
                  {% endif %}
                  <a class="dropdown-item" href="{{ url_for_security('change_password') }}">Change Password</a>
                  <a class="dropdown-item" href="{{ url_for_security('logout') }}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
          {% else %}
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/login">
                Login
              </a>
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">{{ self.title() }}</h1>
        {% block below_title %}{% endblock %}
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show"
          role="alert">
          <strong>{{ category | title }}!</strong> {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}[Content goes here]{% endblock %}
      </div>
    </div>

  </div>

  {% if current_user.is_authenticated and current_user.team %}
  <div class="modal fade" id="teamModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ current_user.team.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Change team name</h5>
          <form method="POST" action="{{ url_for('update_team_name') }}">
            <div class="input-group">
              <input type="text" class="form-control" name="team_name" value="{{ current_user.team.name }}">
              <div class="input-group-append">
                <button class="btn btn-info" type="submit">Update</button>
              </div>
            </div>
          </form>
          <hr>
          <h5>Team members:</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email address</th>
              </tr>
            </thead>
            {% for member in current_user.team.members %}
            <tr>
              <td>{{ member.name }}</td>
              <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
            </tr>
            {% endfor %}
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <script src="/static/js/jquery.slim.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>

  <script>
    let menuToggle = document.getElementById("menu-toggle");
    menuToggle.onclick = function (e) {
      e.preventDefault();
      document.getElementById("wrapper").classList.toggle("toggled");
      menuToggle.innerHTML = (menuToggle.innerHTML == "«" ? "&raquo;" : "&laquo;");
    };
  </script>
  {% block scripts %}{% endblock %}

</body>

</html>