<table class="table table-hover table-clickable-rows">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">Current Attacks Passing</th>
            <!--<th scope="col">Best Attacks Passing</th>-->
            <th scope="col">Last Code Submitted</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr onclick="window.location='{{ url_for('teams.show', team_id=team.id) }}';">
            <td>{{ loop.index if loop.changed(team.passing|count) else '' }}</td>
            <th scope="row">{{ team.name }}</th>
            <td><span
                    style="display:inline-block;min-width:40px;">{{ team.passing | length }}/{{ team.results | length }}</span>
                {% if team.is_being_scored %}
                &nbsp; <span class="badge bg-secondary"><span class="spinner-border spinner-border-sm">
                    </span> Rescoring&hellip;</span>
                {% endif %}
            </td>
            <!--<td><span style="color:gray;">Not implemented</span></td>-->
            <td>{{ team.last_code_submitted | formatdatetime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
