{% extends "layouts/base.html" %}

{% block title %}Rankings{% endblock %}

{% block content %}
<form class="form-inline">
  <button type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="reloadTable()">Reload results</button>
  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="autorefresh-checkbox">
    <label class="form-check-label" for="autorefresh-checkbox">
      Automatically refresh results
    </label>
  </div>
</form>
<div id="content">
{% include "teams/index_table.html" %}
</div>

{% endblock %}
{% block scripts %}
<script>
async function reloadTable() {
  let response = await fetch("{{ url_for('teams.index_table') }}");
  document.getElementById('content').innerHTML = await response.text();
}

$(function() {
  setInterval(async function() {
    if (document.getElementById('autorefresh-checkbox').checked) {
      reloadTable();
    }
  }, 10000);
});
</script>
{% endblock %}
