<table class="table table-with-children">
    <thead>
        <tr>
            <th scope="col" width="25%">Attack</th>
            <th scope="col">Status</th>
            <!-- This is a feature we intend to implement but haven't yet. In
            theory, this should be as simple as doing a lookup if we're not
            passing.
            SELECT * FROM result WHERE team_id = this_team_id AND attack_id = our_attack_id ORDER BY result.created_at DESC LIMIT 1
            And if that returns no rows then they've never passed it. If it
            _does_ return a row, then they were passing it and introduced a
            regression of some kind. Kind of an automated `git bisect`-type
            feature which may help teams as they attempt to debug a problem.
            <th scope="col">Last Passed</th> -->
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr data-toggle="collapse" data-target="#row{{ result.id }}">
            <th scope="row">
                {{ result.attack.name }}
            </th>
            <td><span style="display:inline-block;width:60px;">{{ "Passing" if result.passed else "Failing"}}</span>
                {% if result.commit_hash != team.last_code_hash %}
                &nbsp; <span class="badge badge-secondary"><span class="spinner-border spinner-border-sm">
                    </span> Rescoring&hellip;</span>
                {% endif %}
            </td>
            <!-- <td style="text-align:center;"><span style="color:gray">&ndash;</span></td> -->
        </tr>
        <tr id="row{{ result.id }}" class="collapse table-secondary">
            <td>
                <a style="display:block;" href="{{ url_for('attacks.show', attack_id=result.attack.id) }}">
                    View attack
                </a>
            </td>
            <td colspan="2">
                {% if result.output != "" %}
                    <strong>Output:</strong> <pre>{{ result.output }}</pre>
                {% elif not result.passed %}
                    {% if formatters|length > 1 %}
                        <div style="background-color: #fff; padding: 10px;">
                            <ul class="nav nav-tabs">
                                {% for formatter in formatters %}
                                <li class="nav-item">
                                    <a class="nav-link {{ 'active' if loop.first else '' }}"data-toggle="tab" href="#tab{{ result.id }}-{{ loop.index }}">{{ formatter.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for formatter in formatters %}
                                <div class="tab-pane fade {{ 'show active' if loop.first else '' }}" id="tab{{ result.id }}-{{ loop.index }}">
                                    {{ formatter.format_output(result) | safe }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% elif formatters|length == 1 %}
                            {# If there's only one formatter, no need for all the tab nonsense #}
                            {{ formatters[0].format_output(result) | safe }}
                        {% endif %}
                {% endif %}
                {# else there's no output, and they didn't fail, so display nothing. #}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
