{% extends "layouts/base.html" %}

{% block title %}Submit an Attack{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> You've submitted an attack. <a href="#todo">View/Download it here.</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Careful!</strong> You may be rate limited. You can submit no more than six attacks per minute.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> You were rate limited. You can submit no more than six attacks per minute.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form>
    <div class="form-group">
        <label for="args">Arguments</label>
        <input type="text" class="form-control text-monospace" name="stdin" id="args"
            placeholder="--spontaneously-combust-on-failure --require util/fire-extinguisher">
    </div>

    <div class="form-group">
        <label for="stdin">Standard Input</label>
        <input type="file" class="form-control-file" id="stdin" name="stdin">
        <small class="form-text text-muted">
            The contents of this file (text or data) will be piped to the executable.
        </small>
    </div>

    <div class="form-group">
        <label for="env">Environment Variables</label>
        <textarea class="form-control text-monospace" name="env" id="env" rows="3">
FOO=1
BAR_LOCATION=/home/chandler/lib/bar
DEBUG=false</textarea>
        <small class="form-text text-muted">
            Environment variables are described in <code>.env</code> format, using <code>NAME=VALUE</code> key pairs.
        </small>
    </div>

    <div class="form-group">
        <label for="files">Files</label>
        <input type="file" class="form-control-file" id="files" multiple>
        <small class="form-text text-muted">
            These will be added to the same directory the executable is run from.
        </small>
    </div>
    <button type="submit" class="btn btn-primary">Submit Attack</button>
</form>
{% endblock %}