{% extends "layouts/base.html" %}

{% block title %}Admin | Manage Teams{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addTeamModal">
    Add a Team
</button>
<a class="btn btn-light mb-3" href="{{ url_for('admin.users') }}" role="button">Manage Users</a>

<div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="addTeamModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{{ url_for('admin.add_team') }}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTeamModalLabel">Add a Team</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="addTeamNameInput" class="form-label">Team Name</label>
                        <input type="text" class="form-control" id="addTeamNameInput"
                            placeholder="Enter team name" name="name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Team</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="edit-team-form" action="{{ url_for('admin.update_team') }}" method="POST"></form>
            <input form="edit-team-form" type="hidden" name="teamid" class="changeTeamTeamID">
            <div class="modal-header">
                <h5 class="modal-title">Edit <span class="teamToEdit"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="changeTeamNameInput" class="form-label">Name</label>
                    <input form="edit-team-form" type="text" class="form-control" name="name" id="changeTeamNameInput">
                </div>
                <label for="team-member-list">Members</label>
                <ul class="list-group" id="team-member-list">
                </ul>
                <p class="mt-3 mb-0">Badges</p>
                <p id="badge-list"></p>
                <form class="form-inline" method="POST" action="{{ url_for('admin.create_badge') }}">
                    <input type="hidden" name="team_id" class="changeTeamTeamID">
                    <input type="text" name="content" maxlength="254" class="form-control me-sm-2" placeholder="Found bug in gold">
                    <select class="form-select me-sm-2" name="type">
                        <option selected hidden value="light">Color</option>
                        <option value="primary">Primary</option>
                        <option value="secondary">Secondary</option>
                        <option value="success">Success</option>
                        <option value="danger">Danger</option>
                        <option value="primary">Primary</option>
                        <option value="warning">Warning</option>
                        <option value="info">Info</option>
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                    <button type="submit" class="btn btn-secondary">Add Badge</button>
                </form>
                <small class="form-text text-muted">
                    Colors use <a href="https://getbootstrap.com/docs/4.4/components/badge/#contextual-variations">Bootstrap's badge styles</a>.
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="edit-team-form" type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Admin Git Clone URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>
                {% for user in team.members %}
                {{ user.email }}<br>
                {% endfor %}
            </td>
            <td>
                <a href="{{ url_for('program.index_team', team_id=team.id) }}">{{ url_for('program.index_team', team_id=team.id) }}</a>
            </td>
            <td>
                <a href="{{ url_for('teams.show', team_id=team.id) }}">View</a> |
                <a id="edit-team-{{ team.id }}" href="#"
                    data-teamid="{{ team.id }}"
                    data-name="{{ team.name }}"
                    data-members='{{ team.member_names | tojson }}'
                    data-badges='{{ team.badge_list | tojson }}'
                    class="edit-team-link">Edit</a> |
                <a href="{{ url_for('admin.rescore_team', team_id=team.id) }}">Rescore</a> |
                <form style="display:none;" method="POST" id="delete_team_{{ team.id }}" action="{{ url_for('admin.delete_team', team_id=team.id) }}"></form>
                <a href="#" onclick="if (confirm('Are you sure you want to delete {{ team.name }}?')) document.getElementById('delete_team_{{ team.id }}').submit()">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
let currently_selected_teamid = null;
document.querySelectorAll('.edit-team-link').forEach(function(el) {
    el.onclick = function() {
        // Get current team data from clicked link
        let teamid = el.dataset.teamid;
        currently_selected_teamid = teamid;
        let name = el.dataset.name;
        let members = JSON.parse(el.dataset.members);
        let badges = JSON.parse(el.dataset.badges);

        // Update form header
        document.querySelectorAll('.teamToEdit').forEach(el => el.innerHTML = name);

        // Update edit form body
        document.querySelectorAll('.changeTeamTeamID').forEach(el => el.value = teamid);
        document.getElementById('changeTeamNameInput').value = name;

        let badgeList = document.getElementById('badge-list');
        badgeList.innerHTML = "";
        badges.forEach(function(badge){
            badgeList.innerHTML += `<span class="badge bg-${badge.type}">
                ${badge.content}
                <button type="button" class="badge-close" onclick="delete_badge(${badge.id}, this)">&times;</button>
                </span> `;
        });

        // Update team member list (note that this doesn't (yet?) support editing)
        let teamMemberList = document.getElementById("team-member-list");
        teamMemberList.innerHTML=""; // Clear out any old nodes
        if (members.length > 0) {
            for (let member of members) {
                let memberItem = document.createElement("li");
                memberItem.innerHTML = member;
                memberItem.classList.add("list-group-item", "py-1");
                teamMemberList.append(memberItem);
            }
        } else {
            let memberItem = document.createElement("li");
            memberItem.innerHTML = "<em>No members on this team</em>";
            memberItem.classList.add("list-group-item", "py-1");
            teamMemberList.prepend(memberItem);
        }
        // A potential edit button, once the backend supports it:
        //let addMemberButton = document.createElement("button");
        //addMemberButton.innerHTML = "Add Members";
        //addMemberButton.classList.add("list-group-item", "py-1", "active");
        //addMemberButton.setAttribute("type", "button");
        //addMemberButton.addEventListener("click", function() { ... } );
        //teamMemberList.append(addMemberButton);

        // Show modal
        var modal = new bootstrap.Modal('#editTeamModal');
        modal.show();

        // Don't do anything with the link click
        return false;
    };
});

function delete_badge(badge_id, clicked_button) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", `{{ url_for("admin.index") }}badges/${badge_id}/delete`, true);
    xhr.send();

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                clicked_button.parentNode.remove();
                let edit_link = document.getElementById(`edit-team-${currently_selected_teamid}`);
                edit_link.dataset.badges = JSON.stringify(JSON.parse(edit_link.dataset.badges).filter(badge => badge.id != badge_id));
            } else {
                alert(`There was an error deleting this badge: ${xhr.responseText}`)
            }
        }
    }
}

$('.modal').on('shown.bs.modal', function() {
    $(this).find('input:first').focus();
});
</script>
{% endblock %}
