{% extends "layouts/base.html" %}

{% block title %}Admin | Manage Teams{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addTeamModal">
    Add a Team
</button>
<a class="btn btn-light mb-3" href="{{ url_for('admin.users') }}" role="button">Manage Users</a>

<div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="addTeamModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{{ url_for('admin.add_team') }}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTeamModalLabel">Add a Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addTeamNameInput">Team Name</label>
                        <input type="text" class="form-control" id="addTeamNameInput"
                            placeholder="Enter team name" name="name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Team</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{{ url_for('admin.update_team') }}" method="POST">
            <input type="hidden" name="teamid" id="changeTeamTeamID">
            <div class="modal-header">
                <h5 class="modal-title">Edit <span class="teamToEdit"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="changeTeamNameInput">Name</label>
                    <input type="text" class="form-control" name="name" id="changeTeamNameInput">
                </div>
                <label for="team-member-list">Members</label>
                <ul class="list-group" id="team-member-list">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>
                {% for user in team.members %}
                {{ user.email }}<br>
                {% endfor %}
            </td>
            <td>
                <a href="#"
                    data-teamid="{{ team.id }}"
                    data-name="{{ team.name }}"
                    data-members='{{ team.member_names | tojson }}'
                    class="edit-team-link">Edit</a> |
                <form style="display:none;" method="POST" id="delete_team_{{ team.id }}" action="{{ url_for('admin.delete_team', team_id=team.id) }}"></form>
                <a href="#" onclick="if (confirm('Are you sure you want to delete {{ team.name }}?')) document.getElementById('delete_team_{{ team.id }}').submit()">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
document.querySelectorAll('.edit-team-link').forEach(function(el) {
    el.onclick = function() {
        // Get current team data from clicked link
        let teamid = el.dataset.teamid;
        let name = el.dataset.name;
        let members = JSON.parse(el.dataset.members);

        // Update form header
        document.querySelectorAll('.teamToEdit').forEach(el => el.innerHTML = name);

        // Update edit form body
        document.getElementById('changeTeamTeamID').value = teamid;
        document.getElementById('changeTeamNameInput').value = name;

        // Update team member list (note that this doesn't (yet?) support editing)
        let teamMemberList = document.getElementById("team-member-list");
        teamMemberList.innerHTML=""; // Clear out any old nodes
        if (members.length > 0) {
            for (let member of members) {
                let memberItem = document.createElement("li");
                memberItem.innerHTML = member;
                memberItem.classList.add("list-group-item", "py-1");
                teamMemberList.append(memberItem);
            }
        } else {
            let memberItem = document.createElement("li");
            memberItem.innerHTML = "<em>No members on this team</em>";
            memberItem.classList.add("list-group-item", "py-1");
            teamMemberList.prepend(memberItem);
        }
        // A potential edit button, once the backend supports it:
        //let addMemberButton = document.createElement("button");
        //addMemberButton.innerHTML = "Add Members";
        //addMemberButton.classList.add("list-group-item", "py-1", "active");
        //addMemberButton.setAttribute("type", "button");
        //addMemberButton.addEventListener("click", function() { ... } );
        //teamMemberList.append(addMemberButton);

        // Show modal
        $('#editTeamModal').modal();

        // Don't do anything with the link click
        return false;
    };
});

$('.modal').on('shown.bs.modal', function() {
    $(this).find('input:first').focus();
});
</script>
{% endblock %}
