[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
uwsgi = "*"
flask-security = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
bcrypt = "*"
dulwich = "*"
email-validator = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-flask = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-localserver = "*"
ipython = "*"
mock = "*"

[requires]
python_version = "3.10"
